//esquema de colores

//primer esquema de color

$white: #fff;
$snow: #FAFAFA;
$quick_silver: #A0A0A0;
 
//segundo esquema de color

$jelly_bean: #E56353;
$salmon: #EF7F6D;
$pastel_pink: #F0A9A1;

//tercer esquema de color

$granite_gray: #5D6163;
$taupe_gray: #91918D;
$gray: #BABAB8;



//tipografia

$raleway: 'Raleway', sans-serif;

//pesos de fuentes

$regular: 400;
$extra_light: 200;
$bold: 700;

//tamaños de fuentes

$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;
