/*Utils*/
/*Base*/
/*body {
    height: 100vh;
    background-color: $white;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    box-sizing: cover;
    background-position: 80%;
}
*/
body {
  margin: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 100px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/*Layout*/
.header {
  background-color: #fff;
}

.header__container {
  width: 100%;
  max-width: 100%;
  height: auto;
  text-align: left;
}

.header__logo {
  width: 300px;
  padding-left: 6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*Hero Section*/
.hero {
  background-color: #E56353;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 22%;
  padding-right: 22%;
}

.hero__container {
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.hero__title {
  color: #fff;
  text-align: center;
  *font-family: "Raleway", sans-serif;
  font-weight: 200;
}

.hero--size--xxl {
  font-size: 100px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

/*First Section*/
.first {
  background-color: #91918D;
  color: #fff;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
}

.first__container {
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.first__img {
  position: relative;
  width: 80%;
  max-width: 100%;
  height: 60%;
}

/*Second Section*/
.second {
  background-color: #fff;
  color: #5D6163;
  text-align: center;
  padding-top: 5%;
}

.second__container {
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.second__img {
  position: relative;
  width: 80%;
  max-width: 100%;
  height: 30%;
}

/*About Section*/
.about {
  background-color: #fff;
  color: #5D6163;
  text-align: center;
}

.about__container {
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.about__titleLarge {
  color: #fff;
  background-color: #E56353;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #E56353;
}

.about__img {
  position: relative;
  width: 30%;
  max-width: 100%;
  height: 60%;
}

.about__description {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
  text-align: left;
}

.about__name {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/*Combination*/
.first__text, .second__text {
  padding-left: 20%;
  padding-right: 20%;
  text-align: left;
}

.first__title, .second__title {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.contact {
  background-color: #E56353;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.contact__container {
  text-align: center;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.contact__title {
  color: #fff;
}

.footer {
  background-color: #5D6163;
}

.footer__container {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.footer__logo {
  width: 180px;
}

/*Components*/
.button {
  padding: 0.7rem 5rem;
  border-radius: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.contact__button {
  background-color: #fff;
  border: 1px solid #5D6163;
  color: #5D6163;
}
.contact__button:hover {
  background-color: #E56353;
  border-color: 1px solid #5D6163;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
