
.contact {
    background-color: $jelly_bean;
    padding-bottom: 5rem;
    padding-top: 2rem;



    &__container {
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: auto;
}


&__title {
    color: $white;
}

}