.contact_button {
    margin: -20px;
}

.contact_container {
    text-align: center;

}

.contact {
    background-color: $jelly_bean;
    padding-bottom: 5rem;
    padding-top: 2rem;

}

.contact_title__principal {
    color: $white;
}