
.contact {
    background-color: $jelly_bean;
    padding-bottom: 5rem;
    padding-top: 2rem;

}

.contact__container {
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: auto;
}


.contact__title {
    color: $white;
}