.header {
    background-color: $white;


    &__container {
    width: 100%;
    max-width: 100%;
    height: auto;
    text-align: left;
}

&__logo {
    width: 300px;
    padding-left: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

}

