.main {
    font-family: $raleway;
    
}

.main_hero {
    background-color: $jelly_bean;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 22%;
    padding-right: 22%;
}

.main_container {
   
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.main_hero__title {
    color: $white;
    text-align: center;
    font-family: $raleway;
    font-weight: $extra_light;
    font-size: $xx-large;
}

.main_hero__title-emphasis {
    font-family: $raleway;
    font-weight: $bold;
}

.main_hero__title-emphasis_size-xxl {
    font-size: $xx-large;
}


.main_first {
    background-color: $taupe_gray;
    color: $white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}

.main_second {
    background-color: $white;
    color: $granite_gray;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;

}

.main_about {
    background-color: $white;
    color: $granite_gray;
    text-align: center;
}

.main_about__title {
    color: $white;
    background-color: $jelly_bean;
    text-align: center;
}


.main_about__title-nosotros {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.main_first__img {
    position: relative;
    width: 80%;
    max-width: 100%;
    height: 60%;
}

.main_first__text, .main_second__text {
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
}


.main_second__img {
    position: relative;
    width: 80%;
    max-width: 100%;
    height: 30%;
}

.main_about__img {
    position: relative;
    width: 30%;
    max-width: 100%;
    height: 60%;
}

.main_about__text {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    text-align: left;  
}


